<!DOCTYPE html>
<html>
  <head>
    <!-- Load default dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://functionalmetatable.github.io/assets/style.css"
    />
    <title>
      {% if page.title and page.title != 'Project' %}{{ page.title }} - Projects
      - {% endif %}{{ site.title }}
    </title>
    <link rel="favicon" href="{{ site.logoUrl }}" />
    <link rel="shortcut icon" href="{{ site.logoUrl }}" />
  </head>
  <body>
    {% include nav.html %}
    <main id="content">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
